.btn-potter {
    font-size: 20px;
    line-height: 40px;
    color: rgba(0,0,0,.569);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-shadow: 0.5px 0.866px 0 rgba(255,255,255,.53);
    background: -webkit-gradient(linear,left bottom,left top,from(#ffa825),to(#ffc025));
    background: -webkit-linear-gradient(bottom,#ffa825,#ffc025);
    background: linear-gradient(to top,#ffa825,#ffc025);
    -webkit-box-shadow: 0 4px 0 #d08a1d;
    box-shadow: 0 4px 0 #d08a1d;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.btn-potter:hover {
    background: -webkit-gradient(linear,left bottom,left top,from(#ffc025),to(#ffa825));
    background: -webkit-linear-gradient(bottom,#ffc025,#ffa825);
    background: linear-gradient(to top,#ffc025,#ffa825);
}
.btn-potter:active {
    -webkit-box-shadow: 0 0px 0 #d08a1d;
    box-shadow: 0 0px 0 #d08a1d;
    transform: translateY(3px);
}
.cart-button {
    /*border-radius: 5px;*/
    /*background-color: #f2a654;*/
    position: fixed;
    z-index: 100;
    font-size: 2em;
    text-align: center;
    right:20px;
    top:20px;
    cursor: pointer;
}

.cart-button img {
    max-width: 100%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.cart-button .cart {
    opacity: 1;
}
.cart-button .cart-hover, .cart-button .cart-active,.alert-success .e-addhover, .alert-success .e-addactive {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.alert-success .e-addhover, .alert-success .e-addactive {
    top: 0;
}
.cart-button.hover .cart, .cart-button.active .cart,
.cart-button.active .cart-hover, .alert-success.hover .e-add,
.alert-success.active .e-add,.alert-success.hover .e-addactive, .alert-success.active .e-addhover{
    opacity: 0;
}
.cart-button.hover .cart-hover, .cart-button.active .cart-active, .alert-success.hover .e-addhover, .alert-success.active .e-addactive {
    opacity: 1;
}

.cart-button .badge {
    position: absolute;
    top: -5px;
    left: -10px;
    background: red;
    padding: 4px 6px !important;
}

.table-cart {
    font-size: 0.75em;

}
.table-cart  td {
    vertical-align: middle !important;
}
.alert-success {
    left: auto !important;
    right: 20px;
    padding: 0;
    border: none;
    top: 61px !important;
    background: transparent;
    max-width: calc(100% - 120px);
    z-index: 90 !important;
    text-align: right;
    width: auto !important;
}

.alert-success img {
    max-width: 100%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}


@media ( max-width: 585px ) {
    .input-group span.input-group-btn,.input-group input,.input-group button{
        display: block;
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
    .input-group {
        position: relative;
    }
    .input-group span.data-up{
        position: absolute;
        top: 0;
    }
    .input-group span.data-dwn{
        position: absolute;
        bottom: 0;
    }
    .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
        margin-left:0;
    }

}

body {
    padding-right: 0 !important;
}

.e-basket-form .form-group {
    width: 100%;
    margin-left: 15px;
}
.e-basket-adres .form-group {
    width: 100%;
    margin-left: 15px;
}
.e-basket-adres .well {
    width: 100%;
    margin-left: 15px;
}

.e-payment .form-group, .e-payment h2 {
    width: 100%;
    margin-left: 15px;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.error-summary {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    border-radius: 5px;
    border: 1px solid;
    padding: 5px;
    margin: 10px auto;
}
@media only screen and (max-width: 768px) {
    .modal:before {
        content: none;
    }
    #cart-modal .modal .modal-dialog {
        margin-top: 740px !important;
    }
    .cart-button {
        width: 100px;
        right: -10px;
        top: -10px;
    }
    .alert-success {
        right: 0;
        top: 0 !important;
        max-width: none
    }
}

.e-top-infobox img {
    margin-top:35px;
}

.e-infobox-order {
    margin-top: 20px;
}

.e-infobox-logo img {
    margin-top:4px !important;
}


.selectize-control::before {
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    content: ' ';
    z-index: 2;
    position: absolute;
    display: block;
    top: 10px;
    right: 34px;
    width: 16px;
    height: 16px;
    background: url(https://raw.githubusercontent.com/selectize/selectize.js/master/examples/images/spinner.gif);
    background-size: 16px 16px;
    opacity: 0;
}
.selectize-control.loading::before {
    opacity: 0.4;
}

.selectize-dropdown-content {
    color: #0275d8!important;
    max-height:300px !important;
}
.selectize-dropdown-content .option {
    border-top:1px solid #dddddd;
    padding: 9px 12px !important;
}
.selectize-dropdown-content .highlight {
    color: #0275d8!important;
    background: transparent !important;
    font-weight: bold;
}

.selectize-dropdown-content .active {
    color: #0275d8!important;
}


/* блоки в которых изменения */
.e-sect2-item {
    width: 23%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 62px; }
.e-sect2-item h4 {
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0;
    margin-bottom: 28px; }
.e-sect2-item .e-img-wrapper {
    height: 262px; }
.e-sect2-item .e-img-wrapper img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto; }
.e-sect2-item .e-price {
    color: #ffbf25;
    font-size: 36px;
    font-family: "potter";
    padding-top: 15px;
    padding-bottom: 17px; }
.e-sect2-item .e-price span {
    color: #565656;
    font-size: 30px; }
.e-sect2-item a {
    font-size: 14px;
    line-height: 40px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding-top: 4px;
    padding-bottom: 2px;
    display: inline-block;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid #323232;
    margin-bottom: 22px; }
.e-sect2-item a:first-child {
    border: none;
    width: auto;
    padding: 0;
    text-transform: none;
    position: relative;
    z-index: 1; }
.e-sect2-item a:first-child:before {
    position: absolute;
    z-index: -1;
    content: "";
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
    background-image: -webkit-radial-gradient(#ffc025, transparent 65%);
    background-image: radial-gradient(#ffc025, transparent 65%); }
.e-sect2-item a:first-child:hover:before {
    opacity: 1; }
.e-sect2-item a:last-child {
    color: rgba(0, 0, 0, 0.569);
    text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.53);
    background: -webkit-gradient(linear, left bottom, left top, from(#ffa825), to(#ffc025));
    background: -webkit-linear-gradient(bottom, #ffa825, #ffc025);
    background: linear-gradient(to top, #ffa825, #ffc025);
    -webkit-box-shadow: 0 4px 0 #d08a1d;
    box-shadow: 0 4px 0 #d08a1d;
    border: none; }

/* то что нужно добавить */
.invitation {
    text-align: center;
    padding-top: 78px;
    padding-bottom: 85px; }
.invitation .mob-logo {
    display: none; }
.invitation .e-wrapper {
    position: relative; }
.invitation input {
    display: block;
    max-width: 100%;
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 29px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #cacaca;
    padding: 13px 0 10px;
    margin-bottom: 30px; }
.invitation button {
    display: block;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.569);
    text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.53);
    background: -webkit-gradient(linear, left bottom, left top, from(#ffa825), to(#ffc025));
    background: -webkit-linear-gradient(bottom, #ffa825, #ffc025);
    background: linear-gradient(to top, #ffa825, #ffc025);
    -webkit-box-shadow: 0 4px 0 #d08a1d;
    box-shadow: 0 4px 0 #d08a1d;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 4px 44px;
    border: none; }

.e-letter-left, .e-letter-right {
    position: absolute; }

.e-letter-left {
    left: -335px;
    top: -160px; }

.e-letter-right {
    overflow-x: hidden;
    left: 1100px;
    width: auto; }
.e-letter-right img {
    display: block;
    float: left; }
.reviews {
    padding-top: 45px;
    padding-bottom: 140px; }
.reviews .e-title {
    text-align: center; }
.reviews .e-review-slider {
    margin-top: 78px; }
.reviews .e-review-slider .slick-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 0;
    width: 20px;
    height: 33px;
    border: none;
    background-color: transparent;
    z-index: 100;
    outline: none; }
.reviews .e-review-slider .slick-arrow:before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center; }
.reviews .e-review-slider .slick-next {
    right: -46px; }
.reviews .e-review-slider .slick-next:before {
    background-image: url("../img/next.png"); }
.reviews .e-review-slider .slick-prev {
    left: -46px; }
.reviews .e-review-slider .slick-prev:before {
    background-image: url("../img/prev.png"); }
.reviews .e-review-slide {
    outline: none;
    padding-left: 15px;
    padding-right: 15px; }
.reviews .slide-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 25px;
    border: 10px solid transparent;
    -webkit-border-image: url("../img/review-border.png") 15 10 round repeat;
    border-image: url("../img/review-border.png") 15 10 round repeat; }
.reviews .review-img {
    -webkit-flex-basis: 140px;
    -ms-flex-preferred-size: 140px;
    flex-basis: 140px;
    position: relative;
    min-height: 152px; }
.reviews .review-img .person {
    width: 120px;
    height: 120px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    display: block; }
.reviews .review-img .vk {
    position: absolute;
    left: 42px;
    top: 107px; }
.reviews .review-header h5 {
    color: #ffbb25;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    margin: 0; }
.reviews .review-header h4 {
    color: #292929;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 0.05em;
    margin: 0; }
.reviews .review-header p {
    color: #616161;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.05em;
    margin: 0; }
.reviews .review-text {
    font-size: 15px;
    line-height: 30px; }

.book-modal .modal-dialog {
    width: 1000px; }

.book-modal .e-modal-book-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.book-modal .e-left, .book-modal .e-right {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }

.book-modal .e-book-slide, .book-modal .e-preview {
    outline: none; }
.book-modal .e-book-slide img, .book-modal .e-preview img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto; }

.book-modal .e-book-slider {
    padding-top: 30px;
    padding-bottom: 30px; }

.book-modal .e-book-slide {
    padding-left: 35px;
    padding-right: 35px; }

.book-modal .e-preview {
    cursor: pointer;
    opacity: 0.5; }
.book-modal .e-preview.slick-current {
    opacity: 1; }

.book-modal .e-book-slider, .book-modal .e-book-prev {
    opacity: 0; }
.book-modal .e-book-slider.slick-initialized, .book-modal .e-book-prev.slick-initialized {
    opacity: 1; }

.book-modal .e-book-slider .slick-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 0;
    width: 20px;
    height: 33px;
    border: none;
    background-color: transparent;
    z-index: 100;
    outline: none; }
.book-modal .e-book-slider .slick-arrow:before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center; }

.book-modal .e-book-slider .slick-next {
    right: 0; }
.book-modal .e-book-slider .slick-next:before {
    background-image: url("../img/next.png"); }

.book-modal .e-book-slider .slick-prev {
    left: 0; }
.book-modal .e-book-slider .slick-prev:before {
    background-image: url("../img/prev.png"); }

.book-modal .e-right {
    padding: 0 15px 25px; }
.book-modal .e-right h3 {
    font-size: 24px;
    line-height: 36px;
    color: #292929;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 35px; }
.book-modal .e-right .e-shadow-box {
    border: 4px solid transparent;
    -webkit-border-image: url("../img/greyshadow.jpg") 4 4 round repeat;
    border-image: url("../img/greyshadow.jpg") 4 4 round repeat;
    background-color: #eeeeee; }
.book-modal .e-right .e-shadow-box ul {
    padding: 0; }
.book-modal .e-right .e-shadow-box li {
    font-size: 18px;
    line-height: normal;
    list-style: none;
    position: relative;
    padding: 15px 10px 15px 40px; }
.book-modal .e-right .e-shadow-box li:before {
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #ffbf25;
    content: "";
    position: absolute;
    top: 23px;
    left: 20px; }
.book-modal .e-right .e-shadow-box li span {
    color: #767676; }
.book-modal .e-right h4 {
    color: #6f6f6f;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 30px; }

.book-modal form input {
    display: block;
    max-width: 100%;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #cacaca;
    padding: 13px 0 10px 16px;
    margin-bottom: 20px; }

.book-modal form button {
    display: block;
    width: 220px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.569);
    text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.53);
    background: -webkit-gradient(linear, left bottom, left top, from(#ffa825), to(#ffc025));
    background: -webkit-linear-gradient(bottom, #ffa825, #ffc025);
    background: linear-gradient(to top, #ffa825, #ffc025);
    -webkit-box-shadow: 0 4px 0 #d08a1d;
    box-shadow: 0 4px 0 #d08a1d;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 4px 44px;
    border: none; }

@media only screen and (max-width: 1200px) {
    .reviews .slide-wrapper {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; }
    .review-header {
        text-align: center; } }

@media only screen and (max-width: 1100px) {
    .reviews .e-review-slider .slick-next {
        right: -10px; }
    .reviews .e-review-slider .slick-prev {
        left: -10px; } }

@media only screen and (max-width: 992px) {
    .invitation .pc-logo {
        display: none; }
    .invitation .e-letter-left, .invitation .e-letter-right {
        display: none; }
    .reviews {
        padding-bottom: 35px; }
    .book-modal .modal-dialog {
        width: 500px; }
    .book-modal .e-modal-book-wrapper {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .book-modal .e-modal-book-wrapper .e-left, .book-modal .e-modal-book-wrapper .e-right {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: none; }
    .book-modal .e-modal-book-wrapper .e-left {
        max-width: 100%; }
    .book-modal form input {
        max-width: 100%;
        width: 100%; } }

@media only screen and (max-width: 768px) {
    .reviews {
        padding-bottom: 0; }
    .reviews .e-review-slider {
        margin-top: 40px; }
    .modal-dialog {
        margin-left: auto;
        margin-right: auto; }
    .e-sect3-wrapper {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .e-sect3-item {
        width: 100%; }
    .e-sect3-item:nth-child(3) img {
        margin-left: 0px; } }

@media only screen and (max-width: 500px) {
    .book-modal .modal-dialog {
        width: 300px; }
    .book-modal .e-right h3, .book-modal .e-right h4 {
        font-size: 14px;
        line-height: 18px;
        margin: 20px 0; } }


